@keyframes appear {
    0% {
        opacity: 0;
        transform: translateX(-100vh);
    }

    100% {
        opacity: 1;
    }
}
.container{
    z-index: 99;
    position: fixed;
    left: 0;
    top: 0;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(170, 170, 170, 0.712);
}
.task-form {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: aliceblue;
    width: 500px;
    box-shadow: 0px 2px 3px #aaaf;
    animation: appear 0.5s ease-out forwards;
    padding: 10px;
}

button {
    margin: 0 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff4081;
    color: aliceblue;
    border-radius: 5px;

    &:hover {
        box-shadow: none;
        filter: drop-shadow(3px 2px 3px #aaaf);
        scale: 1.1;
    }

    &:disabled {
        background-color: transparent;
        color: #aaaf;
        scale: 1;
        filter: none;
    }

}
  