<div [class]="expanded ? 'task-card expanded' : 'task-card'">
  <div class="icon-finished">
    <mat-checkbox [checked]="completed" (change)="onToggleChange($event)"></mat-checkbox>
  </div>

  <div class="title-container">
    <h3 [style]="completed?'text-decoration: line-through':''">{{ title }}</h3>
    <div class="manager">
      <button *ngIf="expanded" mat-mini-fab aria-label="Botão para deletar tarefa">
        <mat-icon>delete</mat-icon>
      </button>
      <button *ngIf="expanded" [disabled]="completed" mat-mini-fab aria-label="Botão para editar tarefa">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-mini-fab aria-label="Botão para expandir caixa da tarefa" (click)="expanded = !expanded">
        <mat-icon>{{ expanded ? 'expand_less' : 'expand_more' }}</mat-icon>
      </button>
    </div>
  </div>
  <p class="description">{{ description }}</p>
  <div class="date-container">
    <p><strong>Vence em:</strong> {{ dueDate | date: 'dd/MM/yyyy' }}</p>
    <p *ngIf="completed"><strong>Finalizado em:</strong> {{ finishedAt ? (finishedAt | date: 'dd/MM/yyyy') : 'N/A' }}
    </p>
    <p *ngIf="!completed">{{ getDaysRemaining() }}</p>
  </div>
</div>
<ng-template #dialogTemplate let-data>
  <h2 mat-dialog-title>Tem certeza de que deseja marcar a tarefa como {{ !completed ? 'finalizada' : 'não finalizada'
    }}?</h2>
  <mat-dialog-content>
    <p>Essa ação irá {{ !completed ? 'finalizar' : 'reverter' }} a tarefa, alterando seu status. Você poderá alterar o
      status novamente a qualquer momento.</p>
    <p>Deseja continuar?</p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-button [mat-dialog-close]="true" color="primary">Confirmar</button>
  </mat-dialog-actions>
</ng-template>